html {
    height: 100%;
}
body {
    height: 100%;
    background-color: black;
}
#muuttuva {
    font-size: 0.5em;
}
#topbar {
	position: fixed;
    z-index: 6;
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 2em;
    height: 20%;
    padding-top: 1%;
}
#googleMap {
    height:90%;
}
#bottombar {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bold;
}
#oikea {
    float: right !important;
	margin-right: 27%;
}
.container {
    width: 100% !important;
}
#geoCode {
    float: right !important;
	color: black;
	font-weight: normal;
	font-size: 0.5em;
	margin-right: 10%;
}